<strong>Hello, {{ provider }}</strong>
<p>You have an appointment cancellation in your agenda, please find details bellow:</p>
<p>
<strong>Customer: </strong>{{ user }} <br />
<strong>Date/Time: </strong>{{ date }} <br />
<br />
<small>
  You have this timeslot available again to new bookings.
</small>
</p>